@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Londrina+Shadow&family=Montserrat:wght@400;500;600&display=swap');

html{
  box-sizing: border-box;
}
body{
  font-family: Lato, sans-serif;
  line-height: 20px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  &:before{
    box-sizing: inherit;
  }
  &:after{
    box-sizing: inherit;
  }
}
a{
  color: #000;
  display: inline-block;
  text-decoration: none;
}
ul{
  list-style: none;
  //display: flex;
  li {
    display: inline-block;
  }
}
.container{
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__drop-down{
  position: relative;
  > a{
    position: relative;
    border-top: 5px solid transparent;
    padding-left: 11px;
    padding-right: 26px;
    &:after{
      content: "";
      position: absolute;
      background-image: url("../img/angle-down-solid.svg");
      background-size: cover;
      height: 12px;
      width: 14px;
      right: 5px;
    }
    &:hover{

      + .drop-down__list{
        //display: block;
      }
    }
  }
  .drop-down__list {
    z-index: 100;
    display: none;
    position: absolute;
    width: 202px;
    background-color: white;
    border: 1px solid rgb(232,235,241);
    border-top: none;
    border-bottom: 5px solid #2aacc8;
    //border-color: rgb(232,235,241);
    box-shadow: 0 5px 0 0 rgba(42,172,200, 0.004);
    padding: 10px 5px;
    &:hover{
      display: block;
    }
    li{
      +li{
        a{
          border-top: 1px solid #e7e7e7;
        }
      }
    }
    a{
      padding: 12px 0 12px 11px;
      &:hover{
        color: #2aacc8;
      }
    }
  }
}
.header__drop-down.drop-down{
  &:hover{
    .drop-down__list{
      display: block;
    }
    > a{
      transition: all 0.3s;
      color: #2aacc8;
      //border: 1px solid rgb(232,235,241);
      //border-bottom: none;
      border-top: 5px solid #2aacc8;
      background-color: white;
    }
  }
}
#list1, #list2 {
  li {
    margin-left: 0;
    display: block;
    a{
      text-transform: none;
      font-weight: 400;
      display: block;
    }
  }
}
.header {
  background-color: #e7ebf1;
  padding: 36px 0 40px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__logo {
      a{
        color: #2aacc8;
        font-size: 50px;
        text-decoration: none;
        font-family: Lato, sans-serif;
        font-weight: 400;
        line-height: 27px;
        span{
          color: black;
          font-weight: 900;
        }
      }
    }
    .header__menu {
      margin-right: 18px;
      li{
        margin-left: 50px;
        &:first-child{
          margin-left: 0;
        }
        &:nth-child(3){
          margin-left: 39px;
        }
        &:nth-child(4){
          margin-left: 12px;
        }
        &:nth-child(5){
          margin-left: 24px;
        }
        a{
          font-family: Arial, sans-serif;
          font-weight: 700;
          font-size: 13px;
          //line-height: 20px;
          text-transform: uppercase;
          padding-top: 11px;
          padding-bottom: 13px;
        }
      }
    }
  }
}
//slider
.slider{
  background-color: #81e4ed;
  padding: 20px 0 8px;
  .slider__inner{
    .slider__item{
      background-image: url("../img/slider-bg.jpg");
      min-height: 440px;
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 100px 60px;
      .slider__item-title{
        font-size: 50px;
        color: #fff;
        width: 300px;
        font-weight: 700;
        line-height: 60px;
      }
    }
  }
}

.slick-dots{
  li{
    margin: 0 9px;
    width: auto;
    height: auto;
    button{
      width: 14px;
      height: 14px;
      background-color: #626262;
      opacity: 50%;
      border-radius: 50%;
      &:before{
        display: none;
      }
    }
  }
  .slick-active{
    button{
      background-color: #ffffff;
    }
  }
}
//items
.items{
  background-color: #e8ebf1;
  padding: 60px 0 60px;
  border: 1px solid #d9d9d9;
  .items__inner{
    display: flex;
    justify-content: space-between;
    .item{
      width: 225px;
      font-family: Arial sans-serif;
      .item__title{
        padding: 10px 0 0 60px;
        position: relative;
        .item__icons{
          position: absolute;
          width: 40px;
          height: 40px;
          background-color: #2aacc8;
          border-radius: 50%;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        h4{
          font-size: 15px;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 30px;
        }
      }
      .item__text{
        font-size: 13px;
        color: #363636;
        margin-bottom: 25px;
      }
      .item__link{
        color: #2aacc8;
        margin-left: 15px;
        font-size: 13px;
        position: relative;
        &:before{
          content: '';
          position: absolute;
          background-image: url("../img/arrow.svg");
          width: 5px;
          height: 7px;
          left: -15px;
          top: 5px;
        }
      }
    }
  }
}
.plane-icon{
  margin-left: 6px;
}
//works
.works__title{
  padding: 25px 0 15px 40px;
  font-family: Arial sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    background-image: url("../img/cursor.svg");
    width: 14px;
    height: 24px;
    left: 0px;
    top: 20px;
  }
}
.works__inner{
  padding: 20px 0px 40px;
  border-top: 1px solid #dfe1e5;
  border-bottom: 1px solid #dfe1e5;
  .slick-arrow{
    width: 20px;
    height: 20px;
    background-color: #81e4ed;
    border-radius: 50%;
    &:before{
      display: none;
    }
  }
}